body{ 
  text-shadow:0px 1px 24px #fff;
  font-family: Times, Helvetica;
 background-image:url("noise-lines.png");
 background-color: #CCCCCC;

  }
hgroup {
  text-align:center;
}
h2 {
  text-align:center;
}
#page-wrap {
  width:800px;
  margin: 0 auto;
}

#myPic {
  width:160px;
  height:160px;
  position:relative;
  top:150px;
  right:150px;
}
