body{ 
  display:block;
  margin:10px;
  text-shadow:0px 1px 24px #fff;
  font-family: Times, Helvetica;
 background-image:url("noise-lines.png");
 background-color: #CCCCCC;

  }
hgroup {
  text-align:center;
}
h2 {
  text-align:center;
}
#page-wrap {
  width:800px;
  margin: 0 auto;
}

#myPic {
  position:relative;
  top:-2750px;
  left:0px;
  transform: rotate(0deg);
}
