body{ 
  font-family: Times, Helvetica;
 background-image:url("background.png");
 opacity:0.5;
  }
hgroup {
  text-align:center;
}
h2 {
  text-align:center;
}
#page-wrap {
  width:800px;
  margin: 0 auto;
}
